.left-sidebar, .right-sidebar{
    

    button{
        background: transparent;
        border: unset;
        cursor: pointer;
    }

    .divider{
        width: 100%;
        height: 1px;
        background: #AAAAAA;
    }
}

.left-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;

    .actions-menu, .account-menu{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}
